/* Page Transition Animations */

/* Fade */
.fade.in {
	-webkit-animation-name: fadeIn;
	   -moz-animation-name: fadeIn;
		-ms-animation-name: fadeIn;
		 -o-animation-name: fadeIn;
			animation-name: fadeIn;
}

.fade.out {
	z-index: 10;
	-webkit-animation-name: fadeOut;
	   -moz-animation-name: fadeOut;
		-ms-animation-name: fadeOut;
		 -o-animation-name: fadeOut;
			animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

/* ------------------------------------------ */

/* Slide Left */
.slideleft.in {
	-webkit-animation-name: slideLeftIn;
	   -moz-animation-name: slideLeftIn;
		-ms-animation-name: slideLeftIn;
		 -o-animation-name: slideLeftIn;
			animation-name: slideLeftIn;
}

.slideleft.out {
	-webkit-animation-name: slideLeftOut;
	   -moz-animation-name: slideLeftOut;
		-ms-animation-name: slideLeftOut;
		 -o-animation-name: slideLeftOut;
			animation-name: slideLeftOut;
}

@-webkit-keyframes slideLeftIn {
	0% {
		-webkit-transform: translateX(100%);
				transform: translateX(100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}

@-moz-keyframes slideLeftIn {
	0% {
		-moz-transform: translateX(100%);
			 transform: translateX(100%);
	}
	
	100% {
		-moz-transform: translateX(0);
			 transform: translateX(0);
	}
}

@-ms-keyframes slideLeftIn {
	0% {
		-ms-transform: translateX(100%);
			transform: translateX(100%);
	}
	
	100% {
		-ms-transform: translateX(0);
			transform: translateX(0);
	}
}

@-o-keyframes slideLeftIn {
	0% {
		-o-transform: translateX(100%);
		   transform: translateX(100%);
	}
	
	100% {
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
}

@keyframes slideLeftIn {
	0% {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
			-ms-transform: translateX(100%);
			 -o-transform: translateX(100%);
				transform: translateX(100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
}

@-webkit-keyframes slideLeftOut {
	0% {
	   -webkit-transform: translateX(0px);
	   		   transform: translateX(0px);
	}
	
	100% {
	   -webkit-transform: translateX(-100%);
	   		   transform: translateX(-100%);
	}
}

@-moz-keyframes slideLeftOut {
	0% {
		-moz-transform: translateX(0px);
			 transform: translateX(0px);
	}
	
	100% {
		-moz-transform: translateX(-100%);
			 transform: translateX(-100%);
	}
}

@-ms-keyframes slideLeftOut {
	0% {
		-ms-transform: translateX(0px);
			transform: translateX(0px);
	}
	
	100% {
		-ms-transform: translateX(-100%);
			transform: translateX(-100%);
	}
}

@-o-keyframes slideLeftOut {
	0% {
		-o-transform: translateX(0px);
		   transform: translateX(0px);
	}
	
	100% {
		-o-transform: translateX(-100%);
		   transform: translateX(-100%);
	}
}

@keyframes slideLeftOut {
	0% {
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
			-ms-transform: translateX(0px);
			 -o-transform: translateX(0px);
				transform: translateX(0px);
	}
	
	100% {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			 -o-transform: translateX(-100%);
				transform: translateX(-100%);
	}
}

/* ------------------------------------------ */

/* Slide Right */
.slideright.in {
	-webkit-animation-name: slideRightIn;
	   -moz-animation-name: slideRightIn;
		-ms-animation-name: slideRightIn;
		 -o-animation-name: slideRightIn;
			animation-name: slideRightIn;
}

.slideright.out {
 	-webkit-animation-name: slideRightOut;
	   -moz-animation-name: slideRightOut;
		-ms-animation-name: slideRightOut;
		 -o-animation-name: slideRightOut;
			animation-name: slideRightOut;
}

@-webkit-keyframes slideRightIn {
	0% {
		-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}

@-moz-keyframes slideRightIn {
	0% {
		-moz-transform: translateX(-100%);
			 transform: translateX(-100%);
	}
	
	100% {
		-moz-transform: translateX(0);
			 transform: translateX(0);
	}
}

@-ms-keyframes slideRightIn {
	0% {
		-ms-transform: translateX(-100%);
			transform: translateX(-100%);
	}
	
	100% {
		-ms-transform: translateX(0);
			transform: translateX(0);
	}
}

@-o-keyframes slideRightIn {
	0% {
		-o-transform: translateX(-100%);
		   transform: translateX(-100%);
	}
	
	100% {
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
}

@keyframes slideRightIn {
	0% {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			 -o-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
}

@-webkit-keyframes slideRightOut {
	0% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	
	100% {
		-webkit-transform: translateX(100%);
				transform: translateX(100%);
	}
}

@-moz-keyframes slideRightOut {
	0% {
		-moz-transform: translateX(0);
			 transform: translateX(0);
	}
	
	100% {
		-moz-transform: translateX(100%);
			 transform: translateX(100%);
	}
}

@-ms-keyframes slideRightOut {
	0% {
		-ms-transform: translateX(0);
			transform: translateX(0);
	}
	
	100% {
		-ms-transform: translateX(100%);
			transform: translateX(100%);
	}
}

@-o-keyframes slideRightOut {
	0% {
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
	
	100% {
		-o-transform: translateX(100%);
		   transform: translateX(100%);
	}
}

@keyframes slideRightOut {
	0% {
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
	
	100% {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
			-ms-transform: translateX(100%);
			 -o-transform: translateX(100%);
				transform: translateX(100%);
	}
}

/* ------------------------------------------ */

/* Slide Up */
.slideup.in {
	z-index: 10;
	-webkit-animation-name: slideUpIn;
	   -moz-animation-name: slideUpIn;
		-ms-animation-name: slideUpIn;
		 -o-animation-name: slideUpIn;
			animation-name: slideUpIn;
}

.slideup.out {
	z-index: 0;
	-webkit-animation-name: slideUpOut;
	   -moz-animation-name: slideUpOut;
		-ms-animation-name: slideUpOut;
		 -o-animation-name: slideUpOut;
			animation-name: slideUpOut;
}

@-webkit-keyframes slideUpIn {
	0% {
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
}

@-moz-keyframes slideUpIn {
	0% {
		-moz-transform: translateY(100%);
			 transform: translateY(100%);
	}
	
	100% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
}

@-ms-keyframes slideUpIn {
	0% {
		-ms-transform: translateY(100%);
			transform: translateY(100%);
	}
	
	100% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
}

@-o-keyframes slideUpIn {
	0% {
		-o-transform: translateY(100%);
		   transform: translateY(100%);
	}
	
	100% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
}

@keyframes slideUpIn {
	0% {
		-webkit-transform: translateY(100%);
		   -moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			 -o-transform: translateY(100%);
			 	transform: translateY(100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
}

@-webkit-keyframes slideUpOut {
	0% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
	}
}

@-moz-keyframes slideUpOut {
	0% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
	
	100% {
		-moz-transform: translateY(-100%);
			 transform: translateY(-100%);
	}
}

@-ms-keyframes slideUpOut {
	0% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
	
	100% {
		-ms-transform: translateY(-100%);
			transform: translateY(-100%);
	}
}

@-o-keyframes slideUpOut {
	0% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
	
	100% {
		-o-transform: translateY(-100%);
		   transform: translateY(-100%);
	}
}

@keyframes slideUpOut {
	0% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(-100%);
		   -moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			 -o-transform: translateY(-100%);
				transform: translateY(-100%);
	}
}

/* ------------------------------------------ */

/* Slide Down */
.slidedown.in {
	z-index: 0;
	-webkit-animation-name: slideDownIn;
	   -moz-animation-name: slideDownIn;
		-ms-animation-name: slideDownIn;
		 -o-animation-name: slideDownIn;
			animation-name: slideDownIn;
}

.slidedown.out {
	z-index: 10;
  	-webkit-animation-name: slideDownOut;
	   -moz-animation-name: slideDownOut;
		-ms-animation-name: slideDownOut;
		 -o-animation-name: slideDownOut;
			animation-name: slideDownOut;
}

@-webkit-keyframes slideDownIn {
	0% {
		-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
}

@-moz-keyframes slideDownIn {
	0% {
		-moz-transform: translateY(-100%);
			 transform: translateY(-100%);
	}
	
	100% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
}

@-ms-keyframes slideDownIn {
	0% {
		-ms-transform: translateY(-100%);
			transform: translateY(-100%);
	}
	
	100% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
}

@-o-keyframes slideDownIn {
	0% {
		-o-transform: translateY(-100%);
		   transform: translateY(-100%);
	}
	
	100% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
}

@keyframes slideDownIn {
	0% {
		-webkit-transform: translateY(-100%);
		   -moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			 -o-transform: translateY(-100%);
				transform: translateY(-100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
}

@-webkit-keyframes slideDownOut {
	0% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
	}
}

@-moz-keyframes slideDownOut {
	0% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
	
	100% {
		-moz-transform: translateY(100%);
			 transform: translateY(100%);
	}
}

@-ms-keyframes slideDownOut {
	0% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
	
	100% {
		-ms-transform: translateY(100%);
			transform: translateY(100%);
	}
}

@-o-keyframes slideDownOut {
	0% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
	
	100% {
		-o-transform: translateY(100%);
		   transform: translateY(100%);
	}
}

@keyframes slideDownOut {
	0% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(100%);
		   -moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			 -o-transform: translateY(100%);
				transform: translateY(100%);
	}
}

//Handlers

[data-transition="fade-in"] {
	z-index: 10;
	-webkit-animation: fadeIn $page-trans-time;
	-moz-animation: fadeIn $page-trans-time;
	-ms-animation: fadeIn $page-trans-time;
	-o-animation: fadeIn $page-trans-time;
	animation: fadeIn $page-trans-time;
}

[data-transition="fade-out"] {
	z-index: 0;
	-webkit-animation: fadeOut $page-trans-time;
	-moz-animation: fadeOut $page-trans-time;
	-ms-animation: fadeOut $page-trans-time;
	-o-animation: fadeOut $page-trans-time;
	animation: fadeOut $page-trans-time;
}

[data-transition="slide-left-in"] {
	z-index: 10;
	-webkit-animation: slideLeftIn $page-trans-time;
	-moz-animation: slideLeftIn $page-trans-time;
	-ms-animation: slideLeftIn $page-trans-time;
	-o-animation: slideLeftIn $page-trans-time;
	animation: slideLeftIn $page-trans-time;
}

[data-transition="slide-left-out"] {
	z-index: 0;
	-webkit-animation: slideLeftOut $page-trans-time;
	-moz-animation: slideLeftOut $page-trans-time;
	-ms-animation: slideLeftOut $page-trans-time;
	-o-animation: slideLeftOut $page-trans-time;
	animation: slideLeftOut $page-trans-time;
}

[data-transition="slide-right-in"] {
	z-index: 10;
	-webkit-animation: slideRightIn $page-trans-time;
	-moz-animation: slideRightIn $page-trans-time;
	-ms-animation: slideRightIn $page-trans-time;
	-o-animation: slideRightIn $page-trans-time;
	animation: slideRightIn $page-trans-time;
}

[data-transition="slide-right-out"] {
	z-index: 0;
	-webkit-animation: slideRightOut $page-trans-time;
	-moz-animation: slideRightOut $page-trans-time;
	-ms-animation: slideRightOut $page-trans-time;
	-o-animation: slideRightOut $page-trans-time;
	animation: slideRightOut $page-trans-time;
}

[data-transition="slide-up-in"] {
	z-index: 10;
	-webkit-animation: slideUpIn $page-trans-time;
	-moz-animation: slideUpIn $page-trans-time;
	-ms-animation: slideUpIn $page-trans-time;
	-o-animation: slideUpIn $page-trans-time;
	animation: slideUpIn $page-trans-time;
}

[data-transition="slide-up-out"] {
	z-index: 0;
	-webkit-animation: slideUpOut $page-trans-time;
	-moz-animation: slideUpOut $page-trans-time;
	-ms-animation: slideUpOut $page-trans-time;
	-o-animation: slideUpOut $page-trans-time;
	animation: slideUpOut $page-trans-time;
}

[data-transition="slide-down-in"] {
	z-index: 10;
	-webkit-animation: slideDownIn $page-trans-time;
	-moz-animation: slideDownIn $page-trans-time;
	-ms-animation: slideDownIn $page-trans-time;
	-o-animation: slideDownIn $page-trans-time;
	animation: slideDownIn $page-trans-time;
}

[data-transition="slide-down-out"] {
	z-index: 0;
  	-webkit-animation: slideDownOut $page-trans-time;
	-moz-animation: slideDownOut $page-trans-time;
	-ms-animation: slideDownOut $page-trans-time;
	-o-animation: slideDownOut $page-trans-time;
	animation: slideDownOut $page-trans-time;
}
