/* Page Transition Animations */

/* Fade */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

/* ------------------------------------------ */

/* Slide Left */
@-webkit-keyframes slideLeftIn {
	0% {
		-webkit-transform: translateX(100%);
				transform: translateX(100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}

@-moz-keyframes slideLeftIn {
	0% {
		-moz-transform: translateX(100%);
			 transform: translateX(100%);
	}
	
	100% {
		-moz-transform: translateX(0);
			 transform: translateX(0);
	}
}

@-ms-keyframes slideLeftIn {
	0% {
		-ms-transform: translateX(100%);
			transform: translateX(100%);
	}
	
	100% {
		-ms-transform: translateX(0);
			transform: translateX(0);
	}
}

@-o-keyframes slideLeftIn {
	0% {
		-o-transform: translateX(100%);
		   transform: translateX(100%);
	}
	
	100% {
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
}

@keyframes slideLeftIn {
	0% {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
			-ms-transform: translateX(100%);
			 -o-transform: translateX(100%);
				transform: translateX(100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
}

@-webkit-keyframes slideLeftOut {
	0% {
	   -webkit-transform: translateX(0px);
	   		   transform: translateX(0px);
	}
	
	100% {
	   -webkit-transform: translateX(-100%);
	   		   transform: translateX(-100%);
	}
}

@-moz-keyframes slideLeftOut {
	0% {
		-moz-transform: translateX(0px);
			 transform: translateX(0px);
	}
	
	100% {
		-moz-transform: translateX(-100%);
			 transform: translateX(-100%);
	}
}

@-ms-keyframes slideLeftOut {
	0% {
		-ms-transform: translateX(0px);
			transform: translateX(0px);
	}
	
	100% {
		-ms-transform: translateX(-100%);
			transform: translateX(-100%);
	}
}

@-o-keyframes slideLeftOut {
	0% {
		-o-transform: translateX(0px);
		   transform: translateX(0px);
	}
	
	100% {
		-o-transform: translateX(-100%);
		   transform: translateX(-100%);
	}
}

@keyframes slideLeftOut {
	0% {
		-webkit-transform: translateX(0px);
		   -moz-transform: translateX(0px);
			-ms-transform: translateX(0px);
			 -o-transform: translateX(0px);
				transform: translateX(0px);
	}
	
	100% {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			 -o-transform: translateX(-100%);
				transform: translateX(-100%);
	}
}

/* ------------------------------------------ */

/* Slide Right */
@-webkit-keyframes slideRightIn {
	0% {
		-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
}

@-moz-keyframes slideRightIn {
	0% {
		-moz-transform: translateX(-100%);
			 transform: translateX(-100%);
	}
	
	100% {
		-moz-transform: translateX(0);
			 transform: translateX(0);
	}
}

@-ms-keyframes slideRightIn {
	0% {
		-ms-transform: translateX(-100%);
			transform: translateX(-100%);
	}
	
	100% {
		-ms-transform: translateX(0);
			transform: translateX(0);
	}
}

@-o-keyframes slideRightIn {
	0% {
		-o-transform: translateX(-100%);
		   transform: translateX(-100%);
	}
	
	100% {
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
}

@keyframes slideRightIn {
	0% {
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			 -o-transform: translateX(-100%);
				transform: translateX(-100%);
	}
	
	100% {
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
}

@-webkit-keyframes slideRightOut {
	0% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	
	100% {
		-webkit-transform: translateX(100%);
				transform: translateX(100%);
	}
}

@-moz-keyframes slideRightOut {
	0% {
		-moz-transform: translateX(0);
			 transform: translateX(0);
	}
	
	100% {
		-moz-transform: translateX(100%);
			 transform: translateX(100%);
	}
}

@-ms-keyframes slideRightOut {
	0% {
		-ms-transform: translateX(0);
			transform: translateX(0);
	}
	
	100% {
		-ms-transform: translateX(100%);
			transform: translateX(100%);
	}
}

@-o-keyframes slideRightOut {
	0% {
		-o-transform: translateX(0);
		   transform: translateX(0);
	}
	
	100% {
		-o-transform: translateX(100%);
		   transform: translateX(100%);
	}
}

@keyframes slideRightOut {
	0% {
		-webkit-transform: translateX(0);
		   -moz-transform: translateX(0);
			-ms-transform: translateX(0);
			 -o-transform: translateX(0);
				transform: translateX(0);
	}
	
	100% {
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
			-ms-transform: translateX(100%);
			 -o-transform: translateX(100%);
				transform: translateX(100%);
	}
}

/* ------------------------------------------ */

/* Slide Up */
@-webkit-keyframes slideUpIn {
	0% {
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
}

@-moz-keyframes slideUpIn {
	0% {
		-moz-transform: translateY(100%);
			 transform: translateY(100%);
	}
	
	100% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
}

@-ms-keyframes slideUpIn {
	0% {
		-ms-transform: translateY(100%);
			transform: translateY(100%);
	}
	
	100% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
}

@-o-keyframes slideUpIn {
	0% {
		-o-transform: translateY(100%);
		   transform: translateY(100%);
	}
	
	100% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
}

@keyframes slideUpIn {
	0% {
		-webkit-transform: translateY(100%);
		   -moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			 -o-transform: translateY(100%);
			 	transform: translateY(100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
}

@-webkit-keyframes slideUpOut {
	0% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
	}
}

@-moz-keyframes slideUpOut {
	0% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
	
	100% {
		-moz-transform: translateY(-100%);
			 transform: translateY(-100%);
	}
}

@-ms-keyframes slideUpOut {
	0% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
	
	100% {
		-ms-transform: translateY(-100%);
			transform: translateY(-100%);
	}
}

@-o-keyframes slideUpOut {
	0% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
	
	100% {
		-o-transform: translateY(-100%);
		   transform: translateY(-100%);
	}
}

@keyframes slideUpOut {
	0% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(-100%);
		   -moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			 -o-transform: translateY(-100%);
				transform: translateY(-100%);
	}
}

/* ------------------------------------------ */

/* Slide Down */
@-webkit-keyframes slideDownIn {
	0% {
		-webkit-transform: translateY(-100%);
				transform: translateY(-100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
}

@-moz-keyframes slideDownIn {
	0% {
		-moz-transform: translateY(-100%);
			 transform: translateY(-100%);
	}
	
	100% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
}

@-ms-keyframes slideDownIn {
	0% {
		-ms-transform: translateY(-100%);
			transform: translateY(-100%);
	}
	
	100% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
}

@-o-keyframes slideDownIn {
	0% {
		-o-transform: translateY(-100%);
		   transform: translateY(-100%);
	}
	
	100% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
}

@keyframes slideDownIn {
	0% {
		-webkit-transform: translateY(-100%);
		   -moz-transform: translateY(-100%);
			-ms-transform: translateY(-100%);
			 -o-transform: translateY(-100%);
				transform: translateY(-100%);
	}
	
	100% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
}

@-webkit-keyframes slideDownOut {
	0% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
	}
}

@-moz-keyframes slideDownOut {
	0% {
		-moz-transform: translateY(0);
			 transform: translateY(0);
	}
	
	100% {
		-moz-transform: translateY(100%);
			 transform: translateY(100%);
	}
}

@-ms-keyframes slideDownOut {
	0% {
		-ms-transform: translateY(0);
			transform: translateY(0);
	}
	
	100% {
		-ms-transform: translateY(100%);
			transform: translateY(100%);
	}
}

@-o-keyframes slideDownOut {
	0% {
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
	
	100% {
		-o-transform: translateY(100%);
		   transform: translateY(100%);
	}
}

@keyframes slideDownOut {
	0% {
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
			-ms-transform: translateY(0);
			 -o-transform: translateY(0);
				transform: translateY(0);
	}
	
	100% {
		-webkit-transform: translateY(100%);
		   -moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			 -o-transform: translateY(100%);
				transform: translateY(100%);
	}
}

//Handlers

[data-transition="fade-in"] {
	z-index: 10;
	-webkit-animation: fadeIn $page-anim;
	-moz-animation: fadeIn $page-anim;
	-ms-animation: fadeIn $page-anim;
	-o-animation: fadeIn $page-anim;
	animation: fadeIn $page-anim;
}

[data-transition="fade-out"] {
	z-index: 0;
	-webkit-animation: fadeOut $page-anim;
	-moz-animation: fadeOut $page-anim;
	-ms-animation: fadeOut $page-anim;
	-o-animation: fadeOut $page-anim;
	animation: fadeOut $page-anim;
}

[data-transition="slide-left-in"] {
	z-index: 10;
	-webkit-animation: slideLeftIn $page-anim;
	-moz-animation: slideLeftIn $page-anim;
	-ms-animation: slideLeftIn $page-anim;
	-o-animation: slideLeftIn $page-anim;
	animation: slideLeftIn $page-anim;
}

[data-transition="slide-left-out"] {
	z-index: 0;
	-webkit-animation: slideLeftOut $page-anim;
	-moz-animation: slideLeftOut $page-anim;
	-ms-animation: slideLeftOut $page-anim;
	-o-animation: slideLeftOut $page-anim;
	animation: slideLeftOut $page-anim;
}

[data-transition="slide-right-in"] {
	z-index: 10;
	-webkit-animation: slideRightIn $page-anim;
	-moz-animation: slideRightIn $page-anim;
	-ms-animation: slideRightIn $page-anim;
	-o-animation: slideRightIn $page-anim;
	animation: slideRightIn $page-anim;
}

[data-transition="slide-right-out"] {
	z-index: 0;
	-webkit-animation: slideRightOut $page-anim;
	-moz-animation: slideRightOut $page-anim;
	-ms-animation: slideRightOut $page-anim;
	-o-animation: slideRightOut $page-anim;
	animation: slideRightOut $page-anim;
}

[data-transition="slide-up-in"] {
	z-index: 10;
	-webkit-animation: slideUpIn $page-anim;
	-moz-animation: slideUpIn $page-anim;
	-ms-animation: slideUpIn $page-anim;
	-o-animation: slideUpIn $page-anim;
	animation: slideUpIn $page-anim;
}

[data-transition="slide-up-out"] {
	z-index: 0;
	-webkit-animation: slideUpOut $page-anim;
	-moz-animation: slideUpOut $page-anim;
	-ms-animation: slideUpOut $page-anim;
	-o-animation: slideUpOut $page-anim;
	animation: slideUpOut $page-anim;
}

[data-transition="slide-down-in"] {
	z-index: 10;
	-webkit-animation: slideDownIn $page-anim;
	-moz-animation: slideDownIn $page-anim;
	-ms-animation: slideDownIn $page-anim;
	-o-animation: slideDownIn $page-anim;
	animation: slideDownIn $page-anim;
}

[data-transition="slide-down-out"] {
	z-index: 0;
  	-webkit-animation: slideDownOut $page-anim;
	-moz-animation: slideDownOut $page-anim;
	-ms-animation: slideDownOut $page-anim;
	-o-animation: slideDownOut $page-anim;
	animation: slideDownOut $page-anim;
}
