
$ls-height: 30px;
$ls-width: 30px;
$ls-border-width: 4px;
$ls-overlay-color: #999;
$ls-base-color: #555;
$ls-color-one: #777;
$ls-color-two: #999;
$ls-color-three: #BBB;


.loading-spinner {
	position: relative;
}

.loading-spinner:before {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	content: "";
	background-color: $ls-overlay-color;
	opacity: 0.6;
}

.loading-spinner:after {
	width: $ls-width;
	height: $ls-height;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	content: "";
	margin: (-$ls-width / 2) 0 0 (-$ls-width / 2);
	border-radius: 100%;
	-webkit-transition: all .75s ease 0s;
	transition: all .75s ease 0s;
	-webkit-animation: spin .75s infinite linear;
	animation: spin .75s infinite linear;
	border-top: $ls-border-width solid $ls-color-one;
	border-right: $ls-border-width solid $ls-color-one;
	border-bottom: $ls-border-width solid $ls-color-three;
	border-left: $ls-border-width solid $ls-color-two;
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}