label {
	display: block;
	font-size: 1.180rem;
}

input, textarea, select {
	padding: .6rem;
	outline: none;
	resize: none;
	line-height: 2.00rem;
	border: 3px solid $black;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: $black;
	margin: 0 auto;
	background: transparent;
	@include letter-spacing;
	
		&:focus {
			outline: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			//background: hsla(336, 100%, 58%, 0.3);
		}
}

textarea {
    resize: none;
}

//error and user messages
.message {
	text-align: center;
}

.warning {
	@extend .message;
	color: $errorOrange
}

.success {
	@extend .message;
	color: $successGreen;
}

.no-results {
	padding-top: 10px;
}

.plc-warning::-webkit-input-placeholder {
	color: $errorOrange;
}

.no-geo, .prominent {
	width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	background: hsla(0,0%,0%,0.85);
	padding: 0.5rem;
}