/* Typography - Roboto */

/* Regular */
@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.woff") format("woff"),
		 url("../fonts/Roboto-Regular.svg#Roboto") format("svg");
 	font-weight: 400;
	font-style: normal; 
}

/* Light */
@font-face {
	font-family: "Roboto Light";
	src: url("../fonts/Roboto-Light.woff") format("woff"),
		 url("../fonts/Roboto-Light.svg#Roboto Light") format("svg");
 	font-weight: 300;
	font-style: normal; 
}

/* Bold */
@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/Roboto-Bold.woff") format("woff"),
		 url("../fonts/Roboto-Bold.svg#Roboto Bold") format("svg");
 	font-weight: 700;
	font-style: normal; 
}