/*Image Paths*/
$image-path: "../img";
$topcoat-images: "../img/topcoat";

/*Colours*/
$black: hsla(0, 0%, 27%, 1);
$white: hsla(60, 100%, 99%, 1);
$errorOrange: hsla(22, 88%, 58%, 1);

/*Typography*/
$base-size: 1.300rem;

/*Page Transition Times*/
$page-trans-time: 0.30s;