//Image Paths
$imagePath: "../img";

//Colours
$black: hsla(0, 0%, 27%, 1);
$white: hsla(60, 100%, 99%, 1);
$grey: hsla(220, 7%, 82%, 1);
$errorOrange: hsla(22, 88%, 58%, 1);
$successGreen: hsla(70, 48%, 50%, 1);

//Typography
$baseSize: 1.300rem;
$baseWeight: 300;

//Page Transition
$pageAnim: .4s cubic-bezier(.16, .68, .43, .99);

//Misc
$resultOptionsWidth: 120px;