//App Wrapper

#app {
	width: 100%;
	min-height: 100%;
	display: block; /*fallback*/
	position: relative; //was absolute
	left: 0;
	top: 0;
	z-index: 0;
	overflow-x: hidden;
	
	//old flex box display
	/*display: -webkit-box;
	display: -ms-box;
	display: box;
	-webkit-flex-box: 1;
	-ms-box-flex: 1;
	flex-box: 1;
	-webkit-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;*/
	
	//new flex box display
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.overflow {
	overflow-x: visible;
}

#app > .current {
	display: block;
	z-index: 10;
}

#app > :not(.current) {
	display: none;
}

[data-role="page"] {
	position: relative;
}