.container {
	width: 100%;
	min-width: 100%;
}

.wrapper {
	//min-height: 100%;
}

.inner-wrap {
	padding-right: 14px;
	padding-left: 14px;
}

.centre {
	margin: 0 auto;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}